.login-container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ffffff;
}

body.login-container {
  background-image: url("https://images.unsplash.com/photo-1534289692684-c02577d5560d?q=80&w=2370&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 3px;
  margin-bottom: 10px;
}

button {
  width: 50%;
  padding: 10px;
  background-color: #0089eb;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.error {
  color: red;
}
